/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("../fonts/roboto-v20-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
button:focus {
  outline: none;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --title-description-font: "Kaushan Script";
  --main-color: #ffffff;
  --secondary-color: #333333;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* Header decorate  */
.header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(243, 129, 129, 0.9)),
      to(rgba(252, 227, 138, 0.9))
    ),
    url(../img/Header-bg.jpg);
  background-image: -o-linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/Header-bg.jpg);
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/Header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 226px;
  padding-top: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(243, 129, 129, 0.9)),
        to(rgba(252, 227, 138, 0.9))
      ),
      url(../img/Header-bg@2x.jpg);
    background-image: -o-linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../img/Header-bg@2x.jpg);
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../img/Header-bg@2x.jpg);
  }
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: var(--main-font);
}
.navigation_position {
  margin-bottom: 150px;
}
.navigation-list,
.navigation-btn-list,
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-btn-list {
  padding-left: 50px;
}
.navigation-btn-list__item:not(:last-child) {
  margin-right: 30px;
}
.navigation-list__item:not(:last-child) {
  margin-right: 56px;
}
.header-logo__link {
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
}
.navigation-list__link {
  font-size: 14px;
  font-weight: 400;
  color: var(--main-color);
  text-transform: uppercase;
}
.navigation-btn_item-svg {
  fill: var(--main-color);
}
.description {
  font-family: var(--title-description-font);
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 36px;
}
.header__title {
  font-family: var(--main-font);
  font-size: 150px;
  font-weight: 700;
  line-height: 0.933;
  text-transform: uppercase;
  width: 840px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 114px;
}

.header__content-btn {
  font-family: var(--main-font);
  color: var(--main-color);
  border: solid 3px rgb(255, 255, 255);
  background-color: transparent;
  width: 160px;
  height: 40px;
  margin: 0 auto;
}
.navigation :hover {
  color: #fce38a;
  fill: #fce38a;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.navigation-list__link:hover::after,
.navigation-btn:hover::after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.navigation-list__link::after,
.navigation-btn::after {
  content: "";
  display: block;
  background-color: #fce38a;
  width: auto;
  height: 3px;
  margin: auto;
  margin-top: 12px;
  opacity: 0;
  visibility: hidden;
}
/* About decorate  */
.about {
  color: var(--secondary-color);
  padding-top: 44px;
  padding-bottom: 86px;
}
.section-title__lower-item {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
}
.section-title__upper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: var(--title-description-font);
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 14px;
}
.section-title::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  content: "";
  height: 3px;
  background-color: #f38181;
  margin: auto;
  margin-top: 36px;
}
.section-title_position {
  margin-bottom: 64px;
}

.about-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-info__item {
  width: 380px;
  padding-left: 82px;
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 6px;
}

.about-info__title {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-info__text {
  font-family: var(--secondary-font);
  color: #999999;
  width: 280px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.about-info__item:not(:nth-child(1n + 4)) {
  margin-bottom: 100px;
}

.about-info__item_alarm {
  background-image: url(../img/icons/ALARM.svg);
}

.about-info__item_line-graph {
  background-image: url(../img/icons/LINE_GRAPH.svg);
}

.about-info__item_computer {
  background-image: url(../img/icons/COMPUTER.svg);
}

.about-info__item_book {
  background-image: url(../img/icons/BOOK.svg);
}
.about-info__item_home {
  background-image: url(../img/icons/HOME.svg);
}

.about-info__item_image {
  background-image: url(../img/icons/IMAGE.svg);
}

/* team decorate */
.team {
  padding-bottom: 84px;
}
.section-title_position-team {
  margin-bottom: 40px;
}
.team-description__wripper {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 86px;
}
.team-description {
  font-family: var(--secondary-font);
  font-size: 15px;

  color: #999999;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}
.team__member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.team__member-list-wrapper {
  position: relative;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.team__member-name {
  font-family: var(--main-font);
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 4px;
}
.team__member-position {
  font-style: var(--secondary-font);
  font-style: italic;
  text-align: center;
  color: #999999;
  font-weight: 400;
  line-height: 24px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.overlay-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.overlay-list__item:not(:last-child) {
  margin-right: 1px;
}
.overlay-list__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(252, 227, 138);
  width: 56px;
  height: 56px;
  cursor: pointer;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}
.social-svg {
  fill: rgb(243, 129, 129);
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.team__member-list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: rgb(149, 225, 211) 10px 10px;
  box-shadow: rgb(149, 225, 211) 10px 10px;
}

.team__member-list-item:hover .team__member-list-wrapper {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
.overlay-list__item-link:hover {
  background-color: rgb(243, 129, 129);
}
.overlay-list__item-link:hover .social-svg {
  fill: #ffffff;
}
/* Footer decorate */
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: solid 1px #e5e5e5;
  padding-top: 10px;
  padding-bottom: 7px;
}
.footer-info {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.footer-link {
  color: #f38181;
}
.footer__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-form__input {
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-right: none;
  font-family: var(--secondary-font);
  font-style: italic;
  padding-left: 12px;
}
.contact-form__input:required:focus {
  outline: none;
}
.contact-form__input-btn {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.contact-form__input:required:focus:valid:not(:placeholder-shown) {
  border-color: green;
}
.contact-form__input:required:focus:invalid:not(:placeholder-shown) {
  border-color: red;
}
